<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Adoptboard">
	
	<sql id="sql_select">
		select adoptboard_id, adoptdog_id, title, content, regdate from adoptboard
	</sql>
	
	
	<resultMap type="Adoptboard" id="adoptboardmap">
		<id column="adoptboard_id" property="adoptboard_id"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<association column="adoptdog_id" property="adoptdog" javaType="Adoptdog" select="Adoptdog.select"/>
	</resultMap>
	
	<select id="selectAll" resultMap="adoptboardmap">
		<include refid="sql_select"/> order by adoptboard_id desc
	</select>
	
	<select id="select" parameterType="int" resultMap="adoptboardmap">
		<include refid="sql_select"/> where adoptboard_id=#{adoptboard_id}
	</select>
	
	<insert id="insert" parameterType="Adoptboard">
		insert into adoptboard(adoptboard_id, adoptdog_id, title, content)
		values(seq_adoptboard.nextval, #{adoptdog.adoptdog_id}, #{title}, #{content})
	</insert>
	
	<update id="update" parameterType="Adoptboard">
		update adoptboard set adoptdog_id=#{adoptdog.adoptdog_id}, title=#{title}, content=#{content} where adoptboard_id=#{adoptboard_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from adoptboard where adoptboard_id=#{adoptboard_id}
	</delete>
	
</mapper>